.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: gray;
}

.products-container{
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.btn-proceed-review{
    background-color: rgba(255, 255, 0, 0.808);
    color: black;
    display: flex;
    justify-content: space-between;
    
}
